
@{
    ViewBag.Title = "Motivation";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<section style="margin-top:80px;">
    <div class="container">
        <h1 id="title-bar"><span>Motivation for Intitiative</span></h1>
        <div class="row">

            <p>
                Motivation is the concern for others from others. <br>
                <br>
                <b> Why we thought of developing this society ?</b><br><br>
                There are several moments in our life where we see events and say "This should not happen", "This is not good",
                "Government/Administration should do something to make this good" and "This is so bad, it can be changed" etc.
                and several other feelings which come in the form of various dielects and speech. We did that too.
                But then we thought <br><br>
                <b> why become condemners? Why not become doers? </b>
                <br><br>
                This led us to think about bringing a change in the system with clean and pure concern for all those who are
                in need of help. <br>
                -&gt; Concern for those who might have faced the same harships and problems that we did in our period and
                could not come up to any solution. <br>
                -&gt; Concern for those who should be taught how to face their professional world. <br>
                -&gt; Concern for those who can't work being in constant pressure of earnings. <br>
                -&gt; Concern for the youth who should develop a taste of learning new things and coming upto new ideas and innovations<br>
                -&gt; Concern for the skills with which students are being developed<br>
                -&gt; Concern for the students who should develop confidence to face the world with their very own power and skills<br>
                -&gt; Concern for the children and society who need our help in the form of money, writing or sympathy<br>
                -&gt; Concern for a proper system and its management anywhere we get a hand on <br>
                <br>
                These feelings wander with you too but being alone we don't stand up with fear that we'll fail. Why not join hands with each
                other and provide support and strength to each other to make a great CSE Department, UET.. to make a great UET...
                to make a great province.. to make a great Pakistan.<br>

                We are always in need of you. Your excellent ideas and your willingness to work on it. We'll provide you support
                IN SHA"ALLAH. We might with ALLAH SUBHANA'O TA'ALLAH HELP may make your ways smooth but we owe from you that these
                feelings remain pure and is solely for the welfare of others, not for any politics or worldy desires.
                <br><br>
                Feel Free to contact us for your queries, suggestions or complaints.
                We ourselves as admin will listen to you.<br>
                <br><br>
                Best Regards<br>
                Founders
            </p>
        </div>
    </div>
</section>

